    <div class="form-group">
      <div class="row">
        <div class="col-lg-12" *ngFor="let limit of limits">
            <hr>
            <div class="form-group">
                <label style="font-weight: bolder">최대범위</label>&nbsp;&nbsp;
                <label>{{limit.max}}mg/L</label>
            </div>
            <hr />
            <div class="form-group">
                <label style="font-weight: bolder">최소범위</label>&nbsp;&nbsp;
                <label>{{limit.min}}mg/L</label>
                <i class="fa fa-edit" style="zoom:1.5;" (click)="open(editCompany)"></i>
            </div>
        </div>
      </div>
    </div>
