<div [@routerTransition]>
  <!--
  <img src="assets/img/tank_blue.png" width="150px" class="user-avatar" />
  <button [routerLink]="['/login']" (click)="onLoggedout()">로그아웃</button>
   -->
   
   <!--
  <div class="row">
      <div class="col-xl-2 text-xs-center">
          <div class="card mb-3">
              <div class="card-body">
                test
              </div>
          </div>
      </div>
  </div>
    -->

    <div class="row">
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
    </div>

  
</div>
