<div [@routerTransition]>
  <!--
  <img src="assets/img/tank_blue.png" width="150px" class="user-avatar" />

   -->

    <div class="row">
        <div class="col-xl-3 text-xs-center" *ngFor="let tank of tanks">
            <div class="card mb-3">
                <div class="card-body">
                    <!--
                    <img src="assets/img/tank_blue.png" width="150px" class="user-avatar" />
                    -->
                </div>
            </div>
        </div>
    </div>

  
</div>
