<div>
    <div class="row">
        <div class="col-xl-3 text-xs-center" *ngFor="let tank of tanks">
            <div class="card mb-3">
                <div class="card-body">
                    
                    <label>{{tank.name_tag}}</label>
        
                    
                    <ng-container [ngSwitch]="true">
                        <div *ngSwitchCase="tank.value < 5">
                            <img src="assets/img/tank_red.png" width="150px" />                        
                        </div>
                        <div *ngSwitchCase="tank.value > 13">
                            <img src="assets/img/tank_yellow.png" width="150px" />
                        </div>
                        <div *ngSwitchDefault>
                            <img src="assets/img/tank_blue.png" width="150px" />                        
                        </div>
                    </ng-container>
                    

                    <label>용존산소: {{ tank.value }}{{tank.unit}}</label><br />
                    <label [hidden]="!tank.ph">수소이온: {{ tank.ph }}pH</label><br />
                    <label>온도: {{ tank.temp }}°C</label><br />
                    <label>업데이트: {{ tank.timestamp }}</label><br />
                    
                </div>
            </div>
        </div>
    </div>

  
</div>
